<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<!--RIST-->
  <appSettings>
    <add key="ServerIP" value="172.16.0.102"/>
    <!--IP,NAME,MANUAL-->
    <add key="GetMachineBy" value="MANUAL"/>
    <add key="CellConIp" value="PL-CD-01"/>
    <add key="TimeOut" value="10"/>
    <add key="ControllerService" value="WControllerService" />
  </appSettings>
   <connectionStrings>
     <add name="ApcsProConnectionString" connectionString="Server=172.16.0.110;Database=APCSProDB;User Id=apcsuser;Password=apcsuser;" providerName="System.Data.SqlClient" />
  </connectionStrings>
		<!--RIST-->
		
		<!--RWEM-->
  <!--<appSettings>
    <add key="ServerIP" value="110.25.254.35"/>
    --><!--IP,NAME,MANUAL--><!--
    <add key="GetMachineBy" value="MANUAL"/>
    <add key="CellConIp" value="10.30.26.45"/>
    <add key="TimeOut" value="10"/>
    <add key="ControllerService" value="WControllerService" />
  </appSettings>
   <connectionStrings>
     <add name="ApcsProConnectionString" connectionString="Server=110.25.254.31;Database=APCSProDB;User Id=system;Password=p@$$w0rd;" providerName="System.Data.SqlClient" />
 </connectionStrings>-->
	<!--RWEM-->
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
