<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoUpdateSetting.Properties.Settings.APCSProDB" connectionString="Data Source=172.16.0.110;Initial Catalog=APCSProDB;Persist Security Info=True;User ID=apcsuser;Password=apcsuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>