<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<!--RIST-->
    <connectionStrings>
        <add name="AutoUpdateSetting.Properties.Settings.APCSProDB" connectionString="Data Source=172.16.0.110;Initial Catalog=APCSProDB;Persist Security Info=True;User ID=apcsuser;Password=apcsuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<!--RIST-->
	
	<!--RWEM-->
	<!--<connectionStrings>
		<add name="AutoUpdateSetting.Properties.Settings.APCSProDB" connectionString="Data Source=110.25.254.31;Initial Catalog=APCSProDB;Persist Security Info=True;User ID=system;Password=p@$$w0rd"
            providerName="System.Data.SqlClient" />
	</connectionStrings>-->
	<!--RWEM-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>