<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <!--<add key="LocalPath" value="NULL" />-->
    <!--<add key="RemotePath" value="F:\bin\APCS Pro\Remote" />-->
    <!--<add key="AppName" value="AutoUpdate" />-->
     <add key="LogPath" value="~\Log"/>
  </appSettings>
</configuration>